.grid {
    display: grid;
    justify-content: space-around;
}

.wishlist-section-layout {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 2rem 8rem;
    justify-items: center;
}

.product-section-layout {
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
}

.feature-section-layout {
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
}

.footer-section-layout {
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--black-color);
    color: var(--white-color);
    list-style: none;
}

.product-page-layout {
    grid-template-columns: 20% 80%;
}

.heading-sm-screen {
    display: none;
}

@media screen and (max-width: 920px) {
    .footer-section-layout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
}

@media screen and (max-width: 750px) {
    .product-section-layout {
        display: grid;
        grid-template-columns: auto auto;
        margin: 2rem;
    }
    .filter-wrapper{
        display: none;
    }
    .feature-section-layout {
        display: grid;
        grid-template-columns: 1fr;
    }

    .product-page-layout {
        display: grid;
        grid-template-columns: 1fr;
    }

    .heading-sm-screen {
        display: block;
    }

    .heading-lg-screen {
        display: none;
    }

    .wishlist-section-layout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        margin: 2rem 2rem;
    }

    .search-bar-wrapper {
        display: none;
    }
    .sm-filter{
        position: fixed;
        z-index: 2;
        margin-top: 0.5rem;
        padding: 1.5rem;
        right: 0;
        top: 5.4rem;
        opacity: 0.98;
        background-color: var(--background-color);
        height: 80vh;
        overflow-y: scroll;
        border-radius: 10px;
        border: 1px solid var(--black-color);
    }
}

@media screen and (max-width: 480px) {
    .product-section-layout {
        display: grid;
        grid-template-columns: auto;
    }

    .feature-section-layout {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer-section-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .wishlist-section-layout {
        display: grid;
        grid-template-columns: 1fr;
    }
}