form>input {
    width: 100%;
}

form{
    background-color: whitesmoke;
    height: 35rem;
    margin: 2rem;
    background-image: url(/assests/form-bg.webp);
    background-size: cover;
}
.btn {
    width: 100%;
}

body {
    background-image:url(/assests/bg-image.png);
    background-repeat: repeat;
    background-size:cover;
    backdrop-filter: #0C1212;
    

}

.container-authentication{
    display: grid;
    grid-template-columns: auto;
    justify-content: right;
    margin-top: 3.5rem;
}
.text-bold{
    text-decoration: underline;
}
@media screen and (max-width: 450px){
    .container-authentication{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        margin-top: 0;
    }
    .product-category{
        display: none;
    }
}

.profile-dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    right: 0;
    width: 10rem;
}
.profile-dropdown:hover .dropdown-menu{
display: block;
}

.dropdown-menu>p{
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.5rem;
}