@import "https://re-ui.netlify.app/stylesheet/main.css";
@import "https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap";

@import "/stylesheet/homepage.css";
@import "/stylesheet/layout.css";
@import "/stylesheet/productpage.css";
@import "/stylesheet/wishlist.css";

:root {
    --primary-color: #161616;
    --final-price-card-shadow: #00000030;
    --active-page-title-text: #000000a9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.btn-floating {
    background-color: var(--primary-color);
    position: fixed;
    bottom: 10px;
    right: 0;
}

.nav-left-side-pills>a {
    margin: 0 1rem;
}

.card-wrapper {
    transition: 0.4s ease;
}

.card-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    right: 0;
    width: 10rem;
}

.profile-dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu>p {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.5rem;
}

@media screen and (max-width: 660px) {

    .category-heading {
        font-size: 1rem;
    }

    .navbar {
        padding: 2rem 0.8rem;
    }

    .search-bar-wrapper {
        display: none;
    }

    #login-btn {
        display: none;
    }

    .footer-heading {
        font-size: 85%;
    }

    .gray-text {
        font-size: 85%;
    }

    .img-responsive {
        aspect-ratio: 2/1;
    }
    .open-menu{
        display: block;
    }

    .mobile-sidebar {
        direction: rtl;
        position: absolute;
        z-index: 3;
        margin-top: 0.5rem;
        padding: 1.5rem;
        left: 0;
        top: 5.4rem;
        opacity: 0.95;
        background-color: var(--background-color);
        height: max-content;
        border-radius: 10px;
        border: 1px solid var(--black-color);
        width: 15rem;
    }
    #user,#wishlist,#search{
        display: none;
    }
}
@media screen and (max-width: 1300px){
    .product-category {
        display: none;
    }
}
@media only screen and (max-width: 1800px) and (min-width: 750px) {
    #open-menu,
    #close-menu,
    #sm-sidebar,#filter-icon,.sm-filter-container{
        display: none;
    }
}
.hide,
.mobile-sidebar {
    display: none;
}
.show {
    display: block;
}
.product-category-small>a {
    padding: 1rem;
    color: var(--black-color);
}
.product-category-small>a:not(:hover) {
    font-size: 90%;
}
.open-menu,.close-menu{
    background: var(--white-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;
}
.filter-icon{
    text-align: right;
    margin-bottom: 0.8rem;
}