@import "https://re-ui.netlify.app/stylesheet/main.css";
@import "https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap";

@import "/stylesheet/homepage.css";
@import "/stylesheet/layout.css";
@import "/stylesheet/productpage.css";
@import "/stylesheet/wishlist.css";

:root{
    --primary-color: #161616;
    --final-price-card-shadow: #00000030;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'PT Sans', sans-serif;
}
.btn-floating{
    background-color: var(--primary-color);
    position: fixed;
    bottom: 10px;
    right: 0;
}
.nav-left-side-pills>a{
    margin: 0 1rem;
}
.card-wrapper{
    transition: 0.4s ease;
}
.card-wrapper:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.profile-dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    right: 0;
    width: 10rem;
}
.profile-dropdown:hover .dropdown-menu{
display: block;
}

.dropdown-menu>p{
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.5rem;
}

@media screen and (max-width: 550px){

.category-heading{
    font-size: 1rem;
}
.navbar{
    padding: 2rem 0.8rem;
}
.search-bar-wrapper{
    display: none;
}
#login-btn{
    display: none;
}
.footer-heading{
    font-size: 85%;
}
.gray-text{
    font-size: 85%;
}
.img-responsive{
    aspect-ratio: 2/1;
  }
}